.navbar-nav .dropdown-menu {
    border-radius: 0 !important;
    border: solid 1px rgba(15, 15, 15, 0.5) !important;
    box-shadow: none !important;
}

@media (max-width: 600px) {
    .navbar-nav .dropdown-menu {
        border: none !important;
    }
}